.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.touch {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(167, 128, 230);
  margin-bottom: 20px;
  margin-top: 20px;
}

.text {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(203, 186, 226);
}
